/* HERO */
    .my-slider {
        position: relative;
        height: 80vh;
        width: 100vw;
        
    }
    .hero-content {
        position: absolute;
        z-index: 10;
        top: 30%;
        left: 10%;
        transform: translateY(-30%);
        /* background-color: rgba(0, 0, 0, 0.3);
        padding: 1rem; */
        color: white;
    }


.w-100 {
    width: 100% !important;
    height: 80vh;
    object-fit: cover;
    object-position: center;
}
.top {
    object-position: center;
}
.carousel-item::after{
    content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
background: #000000;
background: linear-gradient(90deg, rgba(0, 0, 0, 0.72) 50%, rgba(207, 218, 184, 0) 100%);
  pointer-events: none;
    
}
/* GLOBALS 
------------------------------------- */
.content {
    padding:  9rem 0rem;
    h2 {
        text-align: center;
    }
}

.first-layout {
    
    margin: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    gap: 2rem;
}

/* WHO AM I */
.zayd {
   height: 50%;
}
.bg-wrapper {
    background: linear-gradient(to bottom, #8c5a5a 50%, #ffffff 50%);

}


/* WE CAN FOCUS LIKE THIS 
------------------------------------------------------------------------ */



/* TOGETHER WE CANNNNNNN
------------------------------------------------------------------------ */

