@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
body {
  font-family: Lato;
  font-weight: 400;
}
h2 {
  font-weight: 500;
}
nav {
    a {
        width: fit-content;
    }
    li {
        width: fit-content;
        margin: auto;
    }
}
.navbar-brand {
  color: #ccbba9  !important;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 37, 41);
    color: rgb(95, 95, 95);
    ul {
        list-style-type: none;
        display: flex;
        width: 50vw;
        padding: 0;
        justify-content: space-between;
    }
    img {
        max-width: 2rem;
        object-fit: contain;

    }
}
.final-header {
  top: 0;
  width: 100vw;
  position: absolute !important;
}